
body{
    background-color: rgb(19, 0, 0);  
}
.backbtn{
    position: absolute;
    z-index: 0; /* 다른 요소 위에 배치하기 위해 z-index 설정 */
    top: 20px; /* 위에서 20px 만큼 떨어진 위치에 배치 */
    right: 20px; /* 오른쪽에서 20px 만큼 떨어진 위치에 배치 */
    width: 190px;
    height: 80px;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 30px;
}

h1{
    color: white;
    font-size: 40px;
}
a{
    color: white;
    text-decoration: none;
}
.main{
    padding: 10px;
    display: flex;
    margin-top: 60px;
    height: 650px;
}
.poster{
    width: 402px;
    height: 600px;
    border: 5px solid white;
    border-radius: 10px;
}
.img{
    margin-left: 0px;
    display: flex;
    width: 400px;
    height: 590px;
}

.movie_info{
    padding: 10px;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-left: 30px;
    width: 1000px;
    height: 600px;
    border: 4px solid white;
    border-radius: 30px;

}
.actor{
    text-align: center;
    margin-left: 80px;
    height: 1900px;
    color: white;
    width: 300px;
    border: 4px solid white;
    border-radius: 20px;
    overflow-y: auto; /* 출연진 목록이 넘칠 때 스크롤 생성 */
}
.actor::-webkit-scrollbar {
    width: 10px; /* 스크롤 바의 너비 */
}

.actor::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* 스크롤 바의 썸네일 색상 (투명도 추가 가능) */
    border-radius: 5px; /* 스크롤 바 썸네일의 모서리 반경 */
}

.actor::-webkit-scrollbar-track {
    background-color: transparent; /* 스크롤 바의 트랙 배경 색상 */
}

.actor::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* 스크롤 바의 썸네일에 호버 시 색상 변경 */
}

.actor img {
    width: 150px; 
    height: 200px;  
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 51, 51, 0.74);
}
.input-group {
    display: flex;
    width: 1500px; /* 예시로 너비를 300px로 설정 */
}
.list-group{
    max-width: 300px; /* 예시로 너비를 300px로 설정 */
    display: flex;
}
.star{
    max-width: 150px; /* 예시로 너비를 300px로 설정 */
    display: flex;
}

